<!doctype html>
<html lag="en">
<head>
	<meta charset="UTF-8">
	<title>Lista Restaurantes</title>
</head>
<body>

	<h1>Lista Restaurantes</h1>
	<form>
	<ul>
		<table border = "9" >	
		{% for restaurate in object_list %}
			<tr>
			<td><b>Nombre :</b>{{restaurate.nombre}}    </td>
			<td><b>Ubicacion :</b>{{restaurate.ubicacion}}    </td>
			<td><b>Telefono :</b>{{restaurate.telefono}}    </td>

			<form action="{% url 'restaurantes:eliminar_restaurante' restaurate.id %}" method="post">
			{% csrf_token %}
			<td><input type="submit" value="{{restaurate.id}}"></td>
			</form>

			<td><input type="submit" value="Update">    </td>
			<tr>
		{% endfor %}
		</table>
			
			<input type="submit"  value="agregar">
			
	</ul>
	</form>	
</body>
</html>